<section class="header">
  <div class="bgvid">
    <video
      class="bgvid__video--blur"
      autoplay="autoplay"
      muted="muted"
      preload="auto"
      loop
    >
      <source src="../assets/video/aoe4.mp4#t=20,56" type="video/mp4" />
    </video>
  </div>
  <div class="inner-container rounded">
    <video
      class="border border-warning rounded"
      autoplay="autoplay"
      muted="muted"
      preload="auto"
      loop
    >
      <source src="../assets/video/aoe4.mp4" type="video/mp4" />
    </video>
  </div>
  <div class="box-info">
    <img class="p-2 m-auto" src="../assets/images/aoe2.png" alt="img-aoe2" />
    <h2 class="p-2">By randresuk</h2>
  </div>
</section>
