<section class="fixed-nav-bar navbar" id="fixed-nav-bar">
    <div class="row w-100 p-2">
      <div class="col-6 navbar__wrap-img">
        <img
          src="../assets/images/aoe-header-logo.png"
          class="navbar__wrap-img--coustom-aoe"
          alt="logo-aoe"
        />
      </div>
      <div class="col-6 navbar__wrap-img flex-row-reverse">
        <img
          src="../assets/images/microsoft_logo.png"
          class="navbar__wrap-img--coustom-ms"
          alt="logo-microsoft"
        />
      </div>
    </div>
  </section>