<div class="containe">
  <!-- <div class="fixed-nav-bar navbar" id="fixed-nav-bar">
    <div class="row w-100 p-2">
      <div class="col-6 navbar__wrap-img">
        <img
          src="../assets/images/aoe-header-logo.png"
          class="navbar__wrap-img--coustom-aoe"
          alt="logo-aoe"
        />
      </div>
      <div class="col-6 navbar__wrap-img flex-row-reverse">
        <img
          src="../assets/images/microsoft_logo.png"
          class="navbar__wrap-img--coustom-ms"
          alt="logo-microsoft"
        />
      </div>
    </div>
  </div> -->

  <!-- <div class="header">
    <div class="bgvid">
      <video
        class="bgvid__video--blur"
        autoplay="autoplay"
        muted="muted"
        preload="auto"
        loop
      >
        <source src="../assets/video/aoe4.mp4#t=20,56" type="video/mp4" />
      </video>
    </div>
    <div class="inner-container rounded">
      <video
        class="border border-warning rounded"
        autoplay="autoplay"
        muted="muted"
        preload="auto"
        loop
      >
        <source src="../assets/video/aoe4.mp4" type="video/mp4" />
      </video>
    </div>
    <div class="box-info">
      <img class="p-2 m-auto" src="../assets/images/aoe2.png" alt="img-aoe2" />
      <h2 class="p-2">By randresuk</h2>
    </div>
  </div> -->

  <!-- <div class="description container" style="height: 100vh">
    <div class="row">
      <div class="col-md-6">
        <ul class="hexagon-grid-container">
          <li class="hexagon hexagon-color">
            <div class="hexagon-inner">
              <img
                class="hexagon-avatar-img"
                src="https://randomuser.me/api/portraits/men/32.jpg"
              />
            </div>
          </li>
          <li class="hexagon hexagon-color">
            <div class="hexagon-inner">
              <img
                class="hexagon-avatar-img"
                src="https://randomuser.me/api/portraits/men/32.jpg"
              />
            </div>
          </li>
        </ul>
      </div>
      <div class="col-md-6">
        <img style="width: 100px" src="../assets/images/aoe.png" alt="" />
      </div>
    </div>
  </div> -->

  <div
    class="container"
    style="height: 100vh; position: absolute; z-index: 9999"
  >

</div>
