<section class="description container" style="height: 100vh">
  <div class="row">
    <div class="col-md-6">
      <ul class="hexagon-grid-container">
        <li class="hexagon hexagon-color">
          <div class="hexagon-inner">
            <img
              class="hexagon-avatar-img"
              src="https://randomuser.me/api/portraits/men/19.jpg"
            />
          </div>
        </li>
        <li class="hexagon hexagon-color">
          <div class="hexagon-inner">
            <img
              class="hexagon-avatar-img"
              src="https://randomuser.me/api/portraits/men/7.jpg"
            />
          </div>
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <img style="width: 100px" src="../assets/images/aoe.png" alt="" />
    </div>
  </div>
</section>
